* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	@include flex-center;
}

h1 {
	color: $white;
	font-size: 18px;
}

button {
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-weight: 700;
	color: $white;
	padding: 10px 20px;
}
